<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Basic Login Form using Bootstrap</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poiret+One'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-3.2.1.js"></script>
  <script>
    $(document).ready(function() {
      $('#rsubmit').click(function(event) {
        data = $('#password').val();
        var len = data.length;
        if (len < 5) {
          alert("Password must be Atleast 5 Character");
          // Prevent form submission
          event.preventDefault();
        }
        if ($('#password').val() != $('#confirmpassword').val()) {
          alert("Password and Confirm Password don't match");
          // Prevent form submission
          event.preventDefault();
        }
      });
      $('.btn-toggle').click(function() {
        $(this).find('.btn').toggleClass('btn-default btn-d');
      });
    });
  </script>

</head>

<body>
  <div class="container login-form">
    <div class="rows">
    <div class="row">
      <div class="">
          <div style="height:100px;"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-lg-12 col-md-12">
    <h2 class="login-title">- Register -</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="reg-form">
          <form action="tregister" method="post">
            <!-- First Name-->
            <div class="input-group login-userinput">
              <input id="firstname" type="text" class="form-control" name="firstname" placeholder="First Name" required>
            </div>
            <!-- Last Name-->
            <div class="input-group login-userinput">
              <input id="lastname" type="text" class="form-control" name="lastname" placeholder="Last Name" required>
            </div>
            <!-- Email-->
            <div class="input-group login-userinput">
              <input id="email" type="email" class="form-control" name="email" placeholder="Email" required>
            </div>
            <!-- Password-->
            <div class="input-group login-userinput">
              <input id="password" type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <!-- Confirm Password-->
            <div class="input-group login-userinput">
              <input id="confirmpassword" type="password" class="form-control" name="confirmpassword" placeholder="ConfirmPassword">
            </div>
            <!-- Gender -->
            <div class="btn-group btn-toggle" data-toggle="buttons">
              <label class="btn  btn-d active">
                <input type="radio" name="gender" value="male"> Male
              </label>
              <label class="btn btn-default">
                <input type="radio" name="gender" value="female" checked=""> Female
              </label>
            </div>

            <br>
            <br>
            <!-- SET-->
            <div class="input-group login-userinput">
              <span class="input-group-addon">SE Theory</span>
              <select name="SET" id="SET" class="selectpicker" multiple required >
                  <optgroup label="SEMESTER I" data-max-options="1" data-min-options="1" >
                        <option value="NONE" >NONE</option>
                        <option value="DM"   >DM</option>
                        <option value="DELD" >DELD</option>
                        <option value="DSA"  >DSA</option>
                        <option value="COA"  >COA </option>
                        <option value="OOP"  >OOP </option>
                  </optgroup>
                  <optgroup label="SEMESTER II" data-max-options="1">
                        <option value="NONE" >NONE</option>
                        <option value="EM3" >EM3</option>
                        <option value="CG"  >CG</option>
                        <option value="ADS" >ADS</option>
                        <option value="MP"  >MP </option>
                        <option value="PPL" >PPL</option>
                  </optgroup>
              </select>
            </div>
            <!-- SEP-->
            <div class="input-group login-userinput">
              <span class="input-group-addon">SE Lab</span>
              <select name="SEP" id="SEP" class="selectpicker" multiple>
                <optgroup id="sem1" label="SEM I" data-max-options="1">
                    <option value="NONE" >NONE</option>
                    <option value="DE-Lab"  >DE-Lab</option>
                    <option value="DS-Lab" >DS-Lab</option>
                    <option value="OOP-Lab"  >OOP-Lab</option>
                    <option value="Soft-Skills">Soft Skills</option>
                </optgroup>
                <optgroup id="sem2" label="SEM II" data-max-options="1">
                        <option value="NONE" >NONE</option>
                        <option value="CG-Lab">CG-Lab</option>
                        <option value="ADS-Lab">ADS-Lab</option>
                        <option value="MP-Lab">MP-Lab</option>

                </optgroup>
              </select>
            </div>
            <!-- SET-->
            <div class="input-group login-userinput">
              <span class="input-group-addon">TE Theory</span>
              <select name="TET" id="TET" class="selectpicker" multiple>
                <optgroup id="sem1" label="SEM I" data-max-options="1">
                    <option value="TOC" >TOC</option>
                    <option value="DBMS" >DBMS</option>
                    <option value="SEPM">SEPM</option>
                    <option value="ISEE">ISEE</option>
                    <option value="CN">CN</option>
                </optgroup>
                <optgroup id="sem2" label="SEM II" data-max-options="1">
                   <option value="DAA">DAA</option>
                   <option value="SPOS">SP&amp;OS</option>
                   <option value="ESIOT">ES&amp;IoT</option>
                   <option value="SMD">SMD</option>
                   <option value="WT">WT</option>
                </optgroup>
              </select>
            </div>
            <!-- SET-->
            <div class="input-group login-userinput">
              <span class="input-group-addon">TE Lab</span>
              <select name="TEP" id="TEP" class="selectpicker" multiple required>
                  <optgroup id="sem1" label="SEM I" data-max-options="1">
                    <option value="SD-Lab">SD-Lab</option>
                    <option value="DBMS-Lab">DBMS-Lab</option>
                    <option value="CN-Lab">CN-Lab</option>
                 </optgroup>
                  <optgroup id="sem2" label="SEM II" data-max-options="1">
                        <option value="WT-Lab" >WT-Lab</option>
                        <option value="SPOS-Lab"  >SP&amp;OS-Lab</option>
                        <option value="ESIOT-Lab" >ES&amp;IoT-Lab</option>
                  </optgroup>
              </select>
            </div>
            <!-- SEP-->
            <div class="input-group login-userinput">
              <span class="input-group-addon">BE Theory</span>
              <select name="BET" id="BET" class="selectpicker" multiple>
                <optgroup id="sem1" label="SEM I" data-max-options="1">
                    <option value="DSA" >DAA</option>
                        <option value="PMCD" >PMCD</option>
                        <option value="SSDA">SSDA</option>
                        <option value="E1">E1</option>
                        <option value="E2">E2</option>
                        </optgroup>
                <optgroup id="sem2" label="SEM II" data-max-options="1">
                        <option value="SDMT">SDMT</option>
                        <option value="HPC">HPC</option>
                        <option value="E3">E3</option>
                        <option value="E4">E4</option>
                </optgroup>
              </select>
            </div>
            <!-- SET-->
            <div class="input-group login-userinput">
              <span class="input-group-addon">BE Lab</span>
              <select name="BEP" id="BEP" class="selectpicker" multiple>
                <optgroup id="sem1" label="SEM I" data-max-options="1">
                  <option value="C-Lab1">CL1</option>
                  <option value="C-Lab2">CL2</option>
                  <option value="PROJECT">PROJECT</option>
                </optgroup>
                <optgroup id="sem2" label="SEM II" data-max-options="1">
                  <option value="C-Lab3">CL3</option>
                  <option value="C-Lab4">CL4</option>
                  <option value="PROJECT">PROJECT</option>
                </optgroup>
              </select>
            </div>


            <br>
            <button class="btn  btn-block login-button" type="submit" id="rsubmit"><i class="fa fa-sign-in"></i> Register</button>
            <div class="checkbox login-options">
              <br>
              <a href="login" class="login"><b>Login</b></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

  <!-- (Optional) Latest compiled and minified JavaScript translation files -->




  <script src="js/index.js"></script>

</body>

</html>
