<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>

<body>
  <nav class="navbar navbar-inverse">

  </nav>

  <div class="container">

    <div class="row  align-items-center" style="margin-top:20em;">
      <div class="col">
        <div class="jumbotron text-success" align="center">
          <p align="center" class="text-success" >Logout Successful</p>
          <a href="/login" class="btn btn-primary btn-md">Login Again</a>
        </div>
      </div>
    </div>

  </div>



</body>

</html>
